*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    background: #21325E;
}

.title-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: left;
    background-color:#1C3879;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('/img/background.jpeg') no-repeat center center /cover;
}

.title-container h1{
    background-color:#15133C;
    padding: 15px;
    color: white;
    margin-left: 50px;
}
.container{
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 15px;
    padding-top: 25px;
}

.container .container-filter{
    width: 250px;
}

.container .container-filter .box{
    width: 220px;
    padding: 10px;
    background-color:#F1EEE9;
    border: 0;
    color:black;
    border-radius: 10px;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#F0F0F0;
    /* margin-right: 50px;
    margin-left: 50px; */
    /* border-radius: 10px; */
    padding-left: 20px;
    padding-right: 20px;
}

.container-title-result{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #21325E;

}

.container-title-result h1{
    color: white;
}
.error{
    width: 200px;
    color: #3E497A;
    font-weight: 700;
    font-size: 18px;
}

.selec-text{
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #21325E;
    color: white;
}