@import url(./nav.css);
@import url(./slider.css);
@import url(./filters.css);
@import url(./spinner.css);
@import url(./footer.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}